.center{
  position:relative;
  width:500px;
  top:30vh;
}

.alert {
  display: none;
  animation-name: fadeInAndOut;
  animation-duration: 4s;
}

#tab-login{
  color:#00CED1;
}

#tab-register{
  background-color:#00CED1;
}

.btn{
  background-color:#00CED1;
  border:#00CED1;
}

.link-decoration{
  color:#00CED1;
}

#title-text{
  font-size:50px;
}

